body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#example {
  width: 5rem;
  height: 5rem;
  background-color: aqua;
  border-radius: 10px;
  position: absolute;
  margin: 15px;
}

#text {
  width: 2rem;
  height: 3rem;
  position: absolute;
  margin: 25px;
  flex: content;
}